name: default

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make

  elks:
    runs-on: ubuntu-latest
    steps:
    - name: setup-1
      run: sudo apt-get update
    - name: setup-2
      run: sudo apt-get install libsdl2-dev
    - uses: actions/checkout@v2
    - name: config
      run: cp config-elks.mk config.mk
    - name: make
      run: make

  advtech:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: config
      run: cp config-advtech.mk config.mk
    - name: make
      run: make

  or556:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: config
      run: cp config-or556.mk config.mk
    - name: make
      run: make
